" Highlight copied text
Plug 'machakann/vim-highlightedyank'
" Commentary plugin
Plug 'tpope/vim-commentary'
Plug 'preservim/nerdtree'

let mapleader = " "

set scrolloff=5
set incsearch

map<C-u> <C-u>zz
map<C-d> <C-d>zz

"" Menu
map <leader>ss <Action>(ShowSettings)

"" Searching
map <leader>ff <Action>(SearchEverywhere)
map <leader>fg <Action>(FindInPath)

"" Code actions
map <leader>fm <Action>(ReformatCode)
map <leader>rn <Action>(RenameElement)
map <leader>as <Action>(ShowIntentionActions)

"" Clipboard
map <leader>cp <Action>($Copy)
map <leader>pp <Action>($Paste)
map<leader>ct <Action>($Cut)

"" Windows
map<leader>wp :NERDTree<CR>
map<leader>wr <Action>(ActivateRunToolWindow)
map<leader>ws <Action>(ActivateStructureToolWindow)
map<leader>wt <Action>(ActivateTerminalToolWindow)
map<leader>wc <Action>(ActivateCommitToolWindow)
map<leader>wa <Action>(HideActiveWindow)
map<leader>ww <Action>(HideAllWindows)


"" Popups
map<leader>ps <Action>(FileStructurePopup)

map<leader>gb <Action>(Git.Branches)
map<leader>gp <Action>(Git.Pull)
map<leader>gm <Action>(Git.Merge)
map<leader>ga <Action>(Git.Add)
map<leader>pr <Action>(Github.Create.Pull.Request)
map<leader>gh <Action>(Vcs.Push)

map<leader>tw <Action>(CloseAllEditorsButActive)
map<leader>ta <Action>(CloseEditor)
map <leader>tv <Action>(SplitVertically)
map <C-h> <Action>(PreviousTab)
map <C-l> <Action>(NextTab)
map <C-j> <Action>(NextWindow)
map <C-k> <Action>(PreviousWindow)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)